{% extends "base/base.html" %}

{% block title %}
  Detalles del Duenio
{% endblock title %}

{% block content %}
  <h2>{{ duenio.nombre }}</h2>
  <p>Este es el Duenio {{ duenio.nombre }}.</p>
  <a href="{% url 'nfl:list_duenio' %}" class="btn btn-secondary">Volver a la lista de Dueños</a>
{% endblock content %}
