{% extends "base/base.html" %}

{% block title %}
  Lista de Dueños
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'nfl:create_duenio' %}" class="btn btn-success">Crear Dueño</a>
      {% for duenio in duenios %}
        <tr>
          <td>{{ duenio.id }}</td>
          <td>{{ duenio.nombre }}</td>
          <td>
            <a href="{% url 'nfl:detail_duenio' duenio.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'nfl:update_duenio' duenio.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'nfl:delete_duenio' duenio.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
